{{ attach_library('bfi/team-member-row-styling') }}

<div class="container team-member-row">
	<div class="row">
		<div class="col-md-3 col-sm-3 image" data-aos="flip-right">
			{{ content.field_image.0 }}
		</div>
		<div class="col-md-9 col-sm-9" data-aos="flip-left">
			<div class="name">
				{{ content.field_name.0 }}
			</div>
			<div class="description">
				{{ content.field_description.0 }}
			</div>
		</div>
	</div>
</div>