<footer>
  <div class="bfi-border-top"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3>Burundi Friends International</h3>
        <hr>
        <ul class="footer-menu">
          <li><a title="Our Mission" href="/about/">Our Mission</a></li>
          <li><a title="Economic Empowerment" href="/self-sustaining-enterprise/">Economic Empowerment</a></li>
          <li><a title="Education" href="/education/">Education</a></li>
          <li><a title="Annual Report" href="/annual-report/">Annual Report</a></li>
          <li><a title="BFI In Action" href="/bfi-in-action-blog/">BFI In Action</a></li>
          <li><a href="/our-team/">Our Team</a></li>
          <li><a href="/accomplishments-by-year/">Our History</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h3>Contact Us</h3>
        <hr>
        <p>P.O. Box 927356,<br>
        San Diego, CA 92192-7356<br>
        Phone: 619-800-2340<br>
        info@bufri.org</p>
      </div>
      <div class="col-md-4">
        <h3>Subscribe to our mailing list</h3>
        <hr>
        <form id="subscribe-form" class="subscribe-form" action="//bufri.us13.list-manage.com/subscribe/post?u=5c0f0cd765ab2c4305ade2f2a&amp;id=9dc8a0aae9" method="post" name="subscribe-form" novalidate="" target="_blank">
          <input type="text" placeholder="First Name" name="firstName">
          <input type="text" placeholder="Last Name" name="lastName">
          <input type="text" placeholder="Email" name="email">
          <input id="mc-embedded-subscribe" class="button" name="subscribe" type="submit" value="Subscribe">
        </form>
      </div>
    </div>
    <div class="row disclaimer-row">
      <div class="col-md-12" style="z-index: 999;">
        <p style="width: 75%; text-shadow: 2px 2px #322B2B;">BFI is headquartered in San Diego, CA with offices on the East and West coasts of the United States of America</p>
      </div>
    </div>
  </div>
  <div class="footer-logo">
    <img class="logo" alt="Burundi Friends International" src="http://bufri.org/wp-content/uploads/2016/06/BFI-Hands-No-Pad.jpg">
  </div>
</footer>
