<header id="bfi-header">
  <nav class="navbar">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">
        <img class="logo" alt="Burundi Friends International" src="http://bufri.org/wp-content/uploads/2016/06/BFI-Hands-No-Pad.jpg">
      </a>
        <div class="collapse navbar-collapse">
          <div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse">
            <ul id="menu-main-menu" class="nav navbar-nav">
              <li class="dropdown"><a title="About" href="/about/" data-toggle="dropdown" aria-haspopup="true">Our Mission <span class="caret"></span></a>
                <ul role="menu" class="dropdown-menu">
                  <li><a title="Economic Empowerment" href="/self-sustaining-enterprise/">Economic Empowerment</a></li>
                  <li><a title="Education" href="/education/">Education</a></li>
                  <li><a title="Annual Report" href="/annual-report/">Annual Report</a></li>
                </ul>
              </li>
              <li><a title="BFI In Action" href="/bfi-in-action-blog/">BFI In Action</a></li>
              <li><a href="/our-team/">Our Team</a></li>
              <li><a href="/accomplishments-by-year/">Our History</a></li>
            </ul>
        <div class="right text-white">
          <div class="phone inline-block">(619) 800-2340</div>
          <div class="bfi-button inline-block">Donate</div>
          </div>
        </div>
      </div>
        </div>
    </div>
  </nav>
</header>
