.hero-banner {
	position: relative;
	padding: 175px 30px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	overflow: hidden;
}

.hero-banner h1 {
	margin: 0 auto;
}

.hero-banner .overlay {
	background-color: rgba(0,0,0,0.3);
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}