.hero-banner { position: relative; overflow: hidden; }
.hero-banner .row { height: 400px; }
.hero-banner .featured-image { 
	height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.hero-banner .featured-title-container {
	background: #322B2B no-repeat center;
	color: #fff;
	height: 100%;
	padding: 0 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-banner .featured-title-container img {
	position: absolute;
  left: 42%;
  bottom: 0;
  width: 350px;
  transform: rotateY(180deg);
}

.hero-banner .featured-title-container:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 80px 80px;
  border-color: transparent transparent #fff transparent;
}

.blog-content {
	padding-top: 50px;
}

.blog-body { padding-left: 30px; padding-right: 30px; border-right: 1px solid #ddd; }


.blog-body img {
  max-width: 90%;
  margin: 10px 5%;
}

.blog-body img[align="right"], .blog-body img.align-right {
/*	margin-left: 20px;
	margin-bottom: 20px;
  margin-right: 0;
  margin-top: 0;*/
  margin: 0 0 20px 20px;
  max-width: 300px;
}

.blog-body img[align="left"], .blog-body img.align-left {
/*	margin-right: 20px;
	margin-bottom: 20px;
  margin-left: 0;
  margin-top: 0;*/
  margin: 0 20px 20px 0;
  max-width: 300px;
}