{{ attach_library('bfi/text-with-title-styling') }}

{% set titleAlignment = content.field_alignment['#items'].getString() %}

<section class="container text-with-title">
	{% if content.field_header.0 != "" %}
	<div class="row">
		<div class="col-md-12 header{% if titleAlignment !="" %} text-{{ titleAlignment }}{% endif %}">
			{{ content.field_header.0 }}
		</div>
	</div>
	{% endif %}
		{% if content.field_description.0 != "" %}
	<div class="row">
		<div class="col-md-12 description">
			{{ content.field_description.0 }}
		</div>
	</div>
	{% endif %}
</section>