{{ attach_library('bfi/bfi-callout-styling') }}


<section class="container bfi-callout">
	<div class="row flex">
		<div class="col-md-2 col-sm-3">
			<img src="/themes/custom/bfi/images/burundi-friends-international-logo.jpg" alt="Burundi Friends International">
		</div>
		<div class="col-md-10 col-sm-9">
			<p>Burundi Friends International (BFI) is a 501 (c) (3) nonprofit organization. We invite you to <a href="/contact-us/">contact us</a> to volunteer and join in our work to end poverty and create self-sustaining opportunities for Burundi, or <a href="/donate/">donate to support BFI’s mission</a>.</p>
		</div>
	</div>
</section>